// HEADER STYLES STARTS HERE
// Colour top left section with yellow and have black on the right section
.header {
    &__skipLink {
        position: absolute;
        left: -1000px;
        top: 5px;
        color: $black;
        text-align: center;
        &:focus {
            left: 0;
            right: 0;
            top: 0;
        }
    }
    &__topSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @include resLieutenant {
            flex-direction: column;
        }
    }
    &__topLeftSection {
        width: 36%;
        overflow: hidden;
        @include resLieutenant {
            order: 1;
            width: 100%;
        }
    }
    &__topLeftBackground {
        background-image: url("../../assets/projectsPreview.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        width: 5076px;
        height: 780px;
        -webkit-animation: slide 20s linear infinite;
        animation: slide 20s linear infinite;
        @include resLieutenant {
            width: 100%;
            background-size: cover;
            height: 300px;
            animation: none;
        }
    }
    &__topRightSection {
        width: 64%;
        @include resLieutenant {
            width: 100%;
        }
        .wrapper {
            padding: 20px 0 0;
            margin: 0 80px;
            @include resSergeant {
                margin: 0 30px;
            }
        }
    }
    &__navList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @include resCaptain {
            flex-direction: column;
            border-bottom: 3px solid $black;
        }
    }
    &__navItem {
        @include fontBaseSize(1.2rem);
        margin: 25px 0 25px 0;
        width: 20%;
        .header__link {
            -webkit-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 0px;
                height: 3px;
                margin: 5px 0 0;
                -webkit-transition: all 0.1s ease-in-out;
                -o-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
                opacity: 0;
                background-color: $black;
                @include resCaptain {
                    
                }
            }
        }
        &:hover,
        &:focus {
            cursor: pointer;
            .header__link {
                &:before,
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
    &__title {
        @include fontBaseSize(7rem); 
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 120px;
        margin: 100px 0;
        @include resGeneral {
            font-size: 6rem;
        }
        @include resColonel {
            font-size: 5rem;
        }
        @include resLieutenant {
            font-size: 6rem;
        }
        @include resCaptain {
            font-size: 5rem;
            margin: 50px 0;
        }
        @include resSergeant {
            font-size: 4rem;
        }
        @include resCorporal {
            font-size: 3rem;
            margin: 25px 0;
        }
        @include resPrivate {
            font-size: 2.5rem;
        }
    }
    &__outlineLetter {
        font-size: 5rem;
        letter-spacing: 20px;
        line-height: 0;
        color: $white;
        text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        @include resGeneral {
            font-size: 4rem;
        }
        @include resColonel {
            font-size: 3rem;
            letter-spacing: 15px;
        }
        @include resLieutenant {
            font-size: 4rem;
            letter-spacing: 10px;
        }
        @include resCaptain {
            font-size: 3rem;
        }
        @include resSergeant {
            font-size: 2rem;
        }
        @include resCorporal {
            font-size: 1.6rem;
            letter-spacing: 5px;
        }
    }
    &__bottomSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        @include resLieutenant {
            flex-direction: column;
        }
    }
    &__bottomLeftSection {
        @include fontBaseSize(2rem);
        background: $primaryColour;
        text-transform: capitalize;
        padding: 100px; 
        width: 36%;
        @include resLieutenant {
            padding: 50px;
            width: 100%;
            text-align: center;
        }
        @include resPrivate {
            font-size: 1.6rem;
        }
        .wrapper {
            width: 60%;
        }
        .header__link {
            position: relative;
            bottom: 0;
            font-weight: 600;
            -webkit-transition: bottom 0.2s linear;
            -o-transition: bottom 0.2s linear;
            transition: bottom 0.2s linear;
            &:hover {
                bottom: 10px;
            }
        }
    }
    &__borderLine {
        height: 5px;
        width: 160px;
        background: $black;
        @include resLieutenant {
            margin: 0 auto;
        }
        @include resPrivate {
            width: 130px;
        }
    }
    &__bottomRightSection {
        background: $black;
        padding: 100px;
        width: 64%;
        @include resColonel {
            padding: 40px 50px;
        }
        @include resLieutenant {
            width: 100%;
        }
    }
    &__aboutList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        @include resColonel {
            flex-direction: column;
        }
        @include resLieutenant {
            flex-direction: row;
        }
        @include resCaptain {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__aboutItem {
        color: $white;
    }
    &__link {
        text-transform: capitalize;
        color: $black;
    }
    &__text {
        @include fontBaseSize(1.2rem);
        line-height: 70px;
        text-transform: capitalize;
    }
}

// KEYFRAME STYLES STARTS HERE
@keyframes slide {
    0%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    50%{
        -webkit-transform: translate3d(-350px, 0, 0);
        transform: translate3d(-350px, 0, 0);
    }
    100%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
// HEADER STYLES ENDS HERE