@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.wrapper {
  max-width: 1280vw;
  width: 80%;
  margin: 0 auto;
}

.header__skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  color: #000;
  text-align: center;
}
.header__skipLink:focus {
  left: 0;
  right: 0;
  top: 0;
}
.header__topSection {
  display: flex;
}
.header__topLeftSection {
  width: 36%;
  overflow: hidden;
}
.header__topLeftBackground {
  background-image: url("../../assets/projectsPreview.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5076px;
  height: 780px;
  animation: slide 20s linear infinite;
}
.header__topRightSection {
  width: 64%;
}
.header__topRightSection .wrapper {
  padding: 20px 0 0;
  margin: 0 80px;
}
.header__navList {
  display: flex;
}
.header__navItem {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin: 25px 0 25px 0;
  width: 20%;
}
.header__navItem .header__link {
  transition: all 0.1s ease-in-out;
  position: relative;
}
.header__navItem .header__link:before, .header__navItem .header__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 3px;
  margin: 5px 0 0;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  background-color: #000;
}
.header__navItem:hover {
  cursor: pointer;
}
.header__navItem:hover .header__link:before, .header__navItem:hover .header__link:after {
  width: 100%;
  opacity: 1;
}
.header__title {
  font-size: 7rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 120px;
  margin: 100px 0;
}
.header__outlineLetter {
  font-size: 5rem;
  letter-spacing: 20px;
  line-height: 0;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.header__bottomSection {
  display: flex;
  justify-content: center;
}
.header__bottomLeftSection {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  background: #f9d76a;
  text-transform: capitalize;
  padding: 100px;
  width: 36%;
}
.header__bottomLeftSection .wrapper {
  width: 60%;
}
.header__bottomLeftSection .header__link {
  position: relative;
  bottom: 0;
  font-weight: 600;
  transition: bottom 0.2s linear;
}
.header__bottomLeftSection .header__link:hover {
  bottom: 10px;
}
.header__borderLine {
  height: 5px;
  width: 160px;
  background: #000;
}
.header__bottomRightSection {
  background: #000;
  padding: 100px;
  width: 64%;
}
.header__aboutList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__aboutItem {
  color: #fff;
}
.header__link {
  text-transform: capitalize;
  color: #000;
}
.header__text {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  line-height: 70px;
  text-transform: capitalize;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-350px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.fa-html5 {
  color: #FD7E14;
}

.fa-css3-alt {
  color: #2196F3;
}

.fa-sass {
  color: #D0649B;
}

.fa-js {
  color: #F7C427;
}

.fa-react {
  color: #5FD3F6;
}

.devicon-jquery-plain {
  color: #0865A7;
}

.fa-wordpress {
  color: #00569C;
}

.devicon-git-plain {
  color: #E84E31;
}

.about {
  padding: 100px 0;
}
.about__title {
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 100px;
  margin-bottom: 50px;
}
.about__outlineLetter {
  letter-spacing: 20px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.about__content {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.about__imageContainer {
  width: 25%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 10px #000;
}
.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__description {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__text {
  margin-bottom: 20px;
}
.about__text::first-letter {
  text-transform: capitalize;
}

.skills {
  background: #f9d76a;
  padding: 100px 0;
}
.skills__title {
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}
.skills__item {
  text-align: center;
  font-size: 3rem;
}
.skills__text {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.projects {
  padding: 100px 0;
}
.projects__title {
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 100px;
  margin-bottom: 50px;
}
.projects__outlineLetter {
  letter-spacing: 20px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.projects__containerList {
  display: flex;
  flex-direction: column;
}
.projects__containerItem {
  margin: 50px 0 100px;
  display: flex;
  justify-content: space-between;
}
.projects__containerItem:nth-of-type(even) .projects__imageContainer {
  order: 1;
}
.projects__containerItem:nth-of-type(even) .projects__image:nth-of-type(2) {
  left: -20px;
}
.projects__containerItem:nth-of-type(even) .projects__link:hover, .projects__containerItem:nth-of-type(even) .projects__link:focus {
  box-shadow: -5px 5px #f9d76a;
}
.projects__containerItem:nth-of-type(2) .projects__toolItem:nth-of-type(6) {
  text-transform: uppercase;
}
.projects__containerItem:nth-of-type(4) .projects__toolItem:nth-of-type(4) {
  text-transform: uppercase;
}
.projects__imageContainer {
  width: 40%;
  position: relative;
}
.projects__image:nth-child(2) {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: -20px;
}
.projects__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.projects__subheading {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.projects__headingInner {
  text-transform: uppercase;
}
.projects__toolsList {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.projects__toolItem {
  font-size: 2.4rem;
  margin-right: 10px;
}
.projects__toolItem:last-of-type {
  margin-right: 0;
}
.projects__description {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.projects__description::first-letter {
  text-transform: capitalize;
}
.projects__linksList {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  display: flex;
  margin-top: 25px;
}
.projects__linkItem {
  margin: 0 10px;
}
.projects__linkItem:first-child {
  margin-left: 0;
}
.projects__linkItem:last-child {
  margin-right: 0;
}
.projects__link {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  background: #000;
  color: #fff;
  letter-spacing: 2px;
  padding: 10px 20px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.projects__link:hover, .projects__link:focus {
  color: #f9d76a;
  box-shadow: 5px 5px #f9d76a;
}
.projects__link:focus {
  outline: none;
}

.active {
  color: #000;
}

.footer {
  background: #1d1d1f;
  padding: 50px 0;
}
.footer__topContent {
  color: #fff;
}
.footer__title {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.footer__form {
  margin: 50px 0 100px;
}
.footer__formCell {
  margin-bottom: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.footer__label {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}
.footer__input {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  padding: 5px 10px;
  transition: color 0.1s ease-in-out;
  color: #000;
}
.footer__input:focus {
  border: 2px solid #f9d76a;
}
.footer__input--name, .footer__input--message, .footer__input--email {
  width: 100%;
  border: 2px solid #000;
}
.footer__input--name::placeholder, .footer__input--message::placeholder, .footer__input--email::placeholder {
  color: #000;
  opacity: 0.6;
}
.footer__input--message {
  resize: none;
}
.footer__submit {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.1s ease-in-out, border 0.1s ease-out;
}
.footer__submit:hover, .footer__submit:focus {
  color: #f9d76a;
  border: 2px solid #f9d76a;
  box-shadow: 3px 3px #f9d76a;
}
.footer__socialList {
  display: flex;
  margin: 50px 0 25px;
}
.footer__socialIcon {
  font-size: 2.5rem;
  margin-right: 50px;
}
.footer__link {
  color: #fff;
  transition: color 0.1s linear;
}
.footer__link:hover {
  color: #f9d76a;
}
.footer__text {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: #7A7A7A;
  text-transform: capitalize;
}