@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.wrapper {
  max-width: 1280vw;
  width: 80%;
  margin: 0 auto;
}

.header__skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  color: #000;
  text-align: center;
}
.header__skipLink:focus {
  left: 0;
  right: 0;
  top: 0;
}

.footer {
  background: #1d1d1f;
  padding: 50px 0;
}
.footer__topContent {
  color: #fff;
}
.footer__title {
  font-size: 4.4vw;
  font-family: "Red Rose", cursive;
  text-transform: capitalize;
}
.footer__form {
  margin: 50px 0 100px;
}
.footer__formCell {
  margin-bottom: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.footer__label {
  font-size: 1.2rem;
  font-family: "Red Rose", cursive;
}
.footer__input {
  font-size: 1.2rem;
  font-family: "Red Rose", cursive;
  margin-top: 10px;
  padding: 5px 10px;
  transition: color 0.1s ease-in-out;
  color: #000;
}
.footer__input:focus {
  border: 2px solid #f9d76a;
}
.footer__input--name, .footer__input--message, .footer__input--email {
  width: 100%;
  border: 2px solid #000;
}
.footer__input--name::placeholder, .footer__input--message::placeholder, .footer__input--email::placeholder {
  color: #000;
  opacity: 0.6;
}
.footer__input--message {
  resize: none;
}
.footer__submit {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
}
.footer__submit:hover, .footer__submit:focus {
  color: #f9d76a;
  border: 2px solid #f9d76a;
  box-shadow: 3px 3px #f9d76a;
}
.footer__socialList {
  display: flex;
  margin: 50px 0 25px;
}
.footer__socialIcon {
  font-size: 2.5vw;
  margin-right: 50px;
}
.footer__link {
  color: #fff;
  transition: color 0.1s linear;
}
.footer__link:hover {
  color: #f9d76a;
}
.footer__text {
  font-size: 1.2vw;
  font-family: "Red Rose", cursive;
  color: #7A7A7A;
  text-transform: capitalize;
}